html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: #fff;
  font-family: system-ui, sans-serif;
}

.vaul-test-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  box-sizing: border-box;
}

.vaul-test-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.vaul-test-content-bottom {
  background: #f4f4f5;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 96%;
  margin-top: 96px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.vaul-test-content-snap {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  max-height: 97%;
}

.vaul-test-trigger {
  font-size: 1.5rem;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.vaul-test-handle {
  margin-bottom: 32px;
  margin-top: 8px;
}

.vaul-test-snap-content {
  display: flex;
  flex-direction: column;
  max-width: 28rem;
  margin: 0 auto;
  width: 100%;
  padding: 16px;
}

.vaul-test-long {
  background: #f4f4f5;
  min-height: 500vh;
}

.vaul-test-long .top-block {
  padding-bottom: 120vh;
  background: #52525b;
  color: #fff;
  font-weight: 700;
}

.vaul-test-long .bottom-block {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: #27272a;
  color: #fff;
}

.vaul-test-link {
  text-decoration: underline;
  background: transparent;
  border: 0;
  cursor: pointer;
}
